:host {
  display: flex;
  height: 100%;
  width: 100%;
}

.p-editor {
  display: flex;
  flex-direction: column;
  width: 100%;
}


::ng-deep .toolbar-btn.ql-active {
  color: oklch(62.7% 0.265 303.9) !important;
}

::ng-deep .toolbar-btn:hover .ql-stroke{
  stroke: purple;
}
/* For SVG-based icons */
::ng-deep .toolbar-btn.ql-active .ql-stroke {
  stroke: oklch(62.7% 0.265 303.9)!important;
}

::ng-deep .ql-editor {
  font-size: 1rem;
  line-height: 1.6;
}
