<div class="flex flex-col h-[80vh] w-screen px-8 mx-auto mb-10">
  <p-splitter
    [panelSizes]="[40, 60]" class="flex flex-1 flex-wrap min-w-0 gap-4 mb-3">

    <ng-template #panel>
      <div class="rounded-lg dark:bg-surface-900 border border-surface-200 dark:border-surface-600 h-full overflow-auto">
        <p-tabs lazy value="0">
          <p-tablist>
            <p-tab value="0">Prompt</p-tab>
            <p-tab value="1">Submissions</p-tab>
            <p-tab value="2">Dictionary</p-tab>
            <p-tab value="3">Grammar</p-tab>
          </p-tablist>
          <p-tabpanels class="h-full">
            <p-tabpanel value="0">
                @if (prompt()) {
                  <app-prompt-info [prompt]="prompt()!"></app-prompt-info>
                }
            </p-tabpanel>
            <p-tabpanel value="1">
              @if (prompt()) {
                <app-submission-list [prompt]="prompt()!"></app-submission-list>
              }
            </p-tabpanel>
            <p-tabpanel value="2">
              <ng-template #content>Dictionary</ng-template>
            </p-tabpanel>
            <p-tabpanel value="3">
              <ng-template #content>Grammar</ng-template>
            </p-tabpanel>
          </p-tabpanels>
        </p-tabs>
      </div>
    </ng-template>


    <ng-template #panel>
      <app-text-box (onTextChange)="onTextChange($event)"></app-text-box>
    </ng-template>
  </p-splitter>

  <div class="flex gap-2 justify-center mb-5">
    <p-select-button [options]="visibilityOptions" [(ngModel)]="isVisible" optionLabel="label" optionValue="value"></p-select-button>
    <p-button label="Submit Post" (onClick)="submit()"></p-button>
  </div>

</div>


