<p-menu #menu [model]="menuItems()" [popup]="true" />
<p-confirmdialog></p-confirmdialog>
<p-toast />
@for(post of posts; track post.id) {
  <div class="flex gap-4 py-4 flex-col md:flex-row border-b border-gray-300 dark:border-surface-700">
    <p-avatar image="https://wrwtjkxcjubxlpadntkw.supabase.co/storage/v1/object/sign/profile_pictures/ArtifisyLOGO%20-%20Copy.png?token=eyJraWQiOiJzdG9yYWdlLXVybC1zaWduaW5nLWtleV9kNjcxY2IwMC01M2FhLTRjN2ItODZkNy01ZWE0NTNiYmIwZmEiLCJhbGciOiJIUzI1NiJ9.eyJ1cmwiOiJwcm9maWxlX3BpY3R1cmVzL0FydGlmaXN5TE9HTyAtIENvcHkucG5nIiwiaWF0IjoxNzc2NDc1NDg2LCJleHAiOjE4MDgwMTE0ODZ9.t5ytzu_jn12leYwVuSb3U1S-lrfgAnN1mR-JejB9COI" shape="circle" size="large" class="w-10 h-10 rounded-lg"></p-avatar>
    <div class="flex-1 flex flex-col gap-3">
      <div class="flex gap-2 items-center">
        <div class="text-surface-900 dark:text-surface-0 font-medium leading-tight"> {{ post.profiles.display_name }}</div>
        @if (!post.is_public){
          <i class="pi pi-eye-slash" style="color: slateblue" title="Only visible to you"></i>
        }
        @if (isOwnPost(post)) {
          <button pButton class="p-button-text p-button-rounded p-button-secondary" [text]="true" (click)="openMenu($event, post, menu)">
            <i pButtonIcon class="pi pi-ellipsis-v"></i>
          </button>
        }


      </div>
      @if (isEditing() && selectedPost()?.id === post.id) {
          <p-editor class="h-full" [(ngModel)]="editDescription" [style]="{ height: '150px' }">
            <ng-template #header>
              <span class="flex ql-formats content-center w-full">
                <span class="ql-formats">
                  <button type="button" class="ql-bold toolbar-btn" aria-label="Bold"></button>
                  <button type="button" class="ql-italic toolbar-btn" aria-label="Italic"></button>
                  <button type="button" class="ql-underline toolbar-btn" aria-label="Underline"></button>
                </span>
              </span>
            </ng-template>
          </p-editor>
        <div class="flex gap-2 justify-end mt-2">
          <p-button label="Cancel" severity="secondary" [outlined]="true" (click)="cancelEdit()" />
          <p-button label="Save" (click)="saveEdit()" />
        </div>
      } @else {
        <div class="text-surface-900 dark:text-surface-200 leading-normal" [innerHTML]="post.description | sanitizeHtml"></div>
      }
    </div>
  </div>
}
