@if (userStats$ | async; as stats) {
  <div class="flex flex-col gap-5">
    <div class="flex flex-col w-full border rounded-xl border-surface-200 dark:border-surface-600">
      <div class="flex flex-col bg-white dark:bg-surface-900 w-full rounded-xl p-5 shrink-0 gap-3">
        <span class="text-lg">Prompts Completed</span>
        <span class="text-lg">{{ stats.totalCompleted}} finished</span>
        <div class="flex flex-row gap-2 w-full">
          <div class="flex flex-1 p-2 rounded-xl border dark:bg-surface-700 border-surface-200 dark:border-surface-600 justify-between ">
            <span class="text-lime-500">Easy</span>
            <span>{{stats.byDifficulty.easy}}</span>
          </div>
          <div class="flex flex-1 p-2 rounded-xl border dark:bg-surface-700 border-surface-200 dark:border-surface-600 justify-between">
            <span class="text-orange-500">Med.</span>
            <span>{{stats.byDifficulty.medium}}</span>
          </div>
          <div class="flex flex-1 p-2 rounded-xl border dark:bg-surface-700 border-surface-200 dark:border-surface-600 justify-between">
            <span class="text-red-500">Hard</span>
            <span>{{stats.byDifficulty.hard}}</span>
          </div>

      </div>
    </div>
  </div>
  <div class="flex gap-5">
    <div class="flex flex-1 flex-col bg-white dark:bg-surface-900 border border-surface-200 dark:border-surface-600 rounded-xl p-5">
      <span>Submissions</span>
      <span class="text-xl">5</span>
    </div>
    <div class="flex flex-1 flex-col bg-white dark:bg-surface-900 border border-surface-200 dark:border-surface-600 rounded-xl p-5">
      <span>Streak</span>
      <span class="text-xl">10</span>
    </div>
  </div>
  </div>
}

