@if (userStats$ | async; as stats) {
  <div class="flex flex-col w-full">
  <div class="flex flex-col bg-white dark:bg-surface-900 w-full rounded-xl p-5 shrink-0 gap-3">
    <span class="text-lg">Prompts Completed</span>
    <span class="text-lg">{{ stats.totalCompleted}} finished</span>
    <div class="flex flex-row gap-2 w-full">
      <div class="flex flex-1 p-2 rounded-xl bg-surface-700 justify-between">
        <span class="text-lime-500">Easy</span>
        <span>{{stats.byDifficulty.easy}}</span>
      </div>
      <div class="flex flex-1 p-2 rounded-xl bg-surface-700 justify-between">
        <span class="text-orange-500">Med.</span>
        <span>{{stats.byDifficulty.medium}}</span>
      </div>
      <div class="flex flex-1 p-2 rounded-xl bg-surface-700 justify-between">
        <span class="text-red-500">Hard</span>
        <span>{{stats.byDifficulty.hard}}</span>
      </div>
    </div>
  </div>
</div>
}
