<a class="nav-link text-surface-900 dark:text-white gap-3 flex flex-wrap flex-col dark:hover:bg-hover:bg-violet-600 border-surface-200 dark:border-surface-600  bg-white dark:bg-surface-900">
  <div class="flex w-full justify-between">
    <b class="text-purple-500 text-m">Weekly Prompt - Join the conversation!</b>
    <div class="flex items-center justify-center bg-linear-to-b from-violet-400 dark:from-violet-300 to-violet-600 dark:to-violet-500 rounded-lg w-10 h-10">
      <i class="pi pi-calendar-clock text-surface-0 dark:text-surface-900 text-xl! leading-none!"></i>
    </div>
  </div>
  <span class="text-xl font-bold">Formal Apology to your boss</span>
  <p class="text-gray-500">Practice formal Japanese with keigo in a business setting</p>
  <div class="flex items-center gap-2">
    <div class="flex w-fit items-center rounded-xl border border-purple-600 gap-3 py-1 px-2 bg-hover:border-purple-200">
      <span class="text-purple-500">Begin Writing</span>
      <i class="pi pi-chevron-right text-purple-500"></i>
    </div>
    <span class="text-surface-600">248 submissions</span>
  </div>

</a>
